/ble-learning/
/debugging/
/experiments/results/
/experiments/tests/test*.txt
/experiments/tests/repro_nimble_*.txt
/experiments/targets/NimBLE/workspace/apps/bleprph/
/experiments/targets/NimBLE/workspace/apps/blinky/
/experiments/targets/NimBLE/workspace/repos/
/experiments/targets/NimBLE/workspace/env.txt
/experiments/targets/RPiPico2W/pico-sdk/
/dependency-reduced-pom.xml

.mvn/
__pycache__/
bin/
build/
target/
venv/
settings.json
.gdb_cmds
.gdb_history
